html,
body {
  height: 100%;
  font-family: $font-family;
  //line-height: 1.4;
}

.container {
  height: 100%;
  display: flex;
  background-color: white;

  .form-info {
    width: 450px;
    min-width: 300px;
    border-right: 1px solid $color-grey; 
    text-align: center; 
    padding-top: 250px;
    
  }

  .form {
    width: 950px;
    min-width: 500px;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
  }
}
