.tab {
  display: flex;
  flex-direction: column;

  &-pointer {
    
    align-items: center;
  
    &-item {
      display: inline-block;
      color: white;
      height: 30px;
      width: 30px;
      text-align: center;
      background-color: $color-primary;
      border: none;
      border-radius: 50%;
      
      & + & {
        margin-left: 15px;
      }

      span {
        display: block;
        padding-top: 5px;
      }
    }
  }

  &-title {
    font-weight: bold;
  }
}

